# ignore python cache
*/__pycache__
malacoin/__pycache__
mala/__pycache__
*/__pycache__
*/*/__pycache__

# environment
.env
.env/
.venv/
env/
venv/
.DS_Store

# keys
/malacoin/*.pem

# database
*.sqlite3



